/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.custom-icons{
    width: 80%; 
    height: auto;
    opacity: 80%;
}